<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre">

    <label for="edad">Edad: </label>
    <input type="text" name="edad" id="edad" [(ngModel)]="edad">

    <button type="button" (click)="onValidate()">Validar</button>
    <button type="submit">Enviar</button>

    <p *ngIf="errorMensaje">{{ errorMensaje }}</p>
    <p *ngIf="succesMensaje">{{ succesMensaje }}</p>
  </form>
</ion-content>
